:root {
	--bgColor: #c2dedc;
	--padColor: #ece5c7;
	--headColor: #e55807;
	--buttonColor: #116a7b;
	--clockBoxColor: #cdc2ae;
	--colorC6: #f2e8dc;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--bgColor);
}
.clockPad {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 80%;
	background-color: var(--padColor);
	border-radius: 10px;
	padding-top: 20px;
	align-items: center;
	/* border: 2px solid pink; */
}

/* Clock  */
.clockBox {
	background-color: var(--clockBoxColor);
	width: 80%;
	height: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
}
.clockBorder {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.clock {
	background-color: var(--clockBoxColor);
	width: 100%;
	height: 85%;
	margin: 2rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	/* border: 1px solid red; */
}

/* Session Head  */
.sessionHead {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	/* border: 2px solid red; */
	padding: 0.5rem;
	border-bottom: 2px dotted black;
}
.sessionHead h3 {
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--headColor);
}

/* Functions */
.sessionValues {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	/* border: 2px solid red; */
	padding: 2rem;
	border-bottom: 2px dotted black;
}

.sessionTime {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* border: 2px solid green; */
	padding: 1rem;
}
.breakTime {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* border: 2px solid yellow; */
	padding: 1rem;
}

/* Controls */
.sessionControl {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	/* border: 2px solid greenyellow; */
	padding: 2rem;
}
.btn {
	padding: 1rem;
	border-radius: 5px;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: var(--buttonColor);
	color: var(--bgColor);
	font-size: 1rem;
	font-weight: 600;
}
.ctr {
	padding: 0.5rem;
	color: var(--bgColor);
}
